/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #ffffff;
    color: #333333;
    transition: all 0.3s ease-in-out;
}

/* Modo escuro */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.container {
    text-align: center;
    padding: 20px;
}

/* Título principal */
.main-title {
    font-size: 3rem;
    color: #660000;
    text-transform: uppercase;
    margin-bottom: 10px;
    animation: fadeIn 1.2s ease;
}

.main-title span {
    font-weight: bold;
    text-shadow: 1px 1px 5px #ff0000;
}

.sub-title {
    font-size: 1.2rem;
    color: #555555;
    margin-bottom: 20px;
    animation: fadeInUp 1.5s ease;
}

/* Seções */
.about, .links {
    padding: 20px;
    border-top: 2px solid #660000;
    margin-top: 20px;
    animation: fadeIn 2s ease;
}

.about ul {
    list-style: none;
    padding: 10px;
}

.about li {
    margin-bottom: 10px;
}

/* Botões */
.button-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

#toggle-dark-mode {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #333333;
    transition: color 0.3s ease;
}

body.dark-mode #toggle-dark-mode {
    color: #e0e0e0;
}

.button-group {
    text-align: center;
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #660000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    animation: fadeIn 2.5s ease;
}

.button:hover {
    background-color: #880000;
    transform: scale(1.1);
}

/* Rodapé */
.site-footer {
    text-align: center;
    padding: 20px;
    background-color: #660000;
    color: #ffffff;
}

/* Animações */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
